@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&display=swap');


:root {
	--color-body1: #fafafa;
	--color-body-gradiente: #e1e1e1;

	--color-pagina-text: #0f0f0f;
	--color-fondo-tarjeta: #ffff;

	--color-carrusel-cargando: #1c5890;
	--color-fondo-carrusel: #eee;
	--colo-fondo-tarjetas: #dcdada;

}

.dark-mode {

	--color-body1: hsl(219, 33%, 32%);
	--color-body-gradiente: linear-gradient(170deg, #090045, #010717, #060f28, #030f2d, #11061f, #0C005A);

	--color-pagina-text: #CDD0D3;
	--color-fondo-tarjeta: #595959;

	--color-carrusel-cargando: #081925;
	--color-fondo-carrusel: #4f4f4f;
	--colo-fondo-tarjetas: #292929;
}

.paguina {
	font-family: 'Fraunces', serif;
	background: var(--color-body-gradiente);
	/* animation: color 5s ease infinite; */

}

/* @keyframes color {
	0%{background-position: 0 50%;}
	50%{background-position: 100% 50%;}
	100%{background-position: 0 50%;}
} */

/*inicio ---- */
.paguina .contenedor_inicio {
	/* border: 2px solid blue; */
	display: flex;
	width: 100%;
	height: 100vh;
	min-width: 850px;
}

.paguina .contenedor_inicio .inicioCont_Text {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	gap: 4rem;
	padding: 10px;

	color: var(--color-pagina-text);
}

.paguina .contenedor_inicio .inicioCont_Text .h1_txt {
	margin: 10px;
	font-size: 70px;
	font-weight: 600;
	color: #00646C;
}

.paguina .contenedor_inicio .inicioCont_Text .p_text {
	margin-left: 50px;
	font-size: 22px;
	/* color: #026F5E; */
}

.paguina .contenedor_inicio .imgen {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45%;

}

.paguina .contenedor_inicio .imgen img {
	display: flex;
	width: 800px;
	min-width: 300px;


}

/*sobre mi ---*/
.paguina .sobre_mi_container {
	height: 100vh;
	min-width: 750px;
	color: var(--color-pagina-text);
}

.paguina .sobre_mi_container .sobre_mi_titulo {
	padding-bottom: 2rem;
	text-align: center;
	font-size: 40px;
	color: #00646C;

}

.paguina .sobre_mi_container .sobre_mi_parrafo {
	margin: 5px;
	margin-bottom: 3rem;
	font-size: 20px;
	padding: 0px 20px;
	text-align: center;

}

.paguina .sobre_mi_container .sobre_mi_info {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.paguina .sobre_mi_container .sobre_mi_info .tarjeta {
	margin: 6px;
	width: 300px;
	height: 400px;
	perspective: 1000px;
	cursor: pointer;
}

.paguina .sobre_mi_container .sobre_mi_info .tarjeta .cara {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	transition: transform 0.6s;
	background-color: var(--color-fondo-tarjeta);
	border-radius: 40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.cara-frontal {
	transform: rotateY(0deg);
}

.cara-trasera {
	transform: rotateY(180deg);
	padding: 3px;
}

.tarjeta:hover .cara-frontal {
	transform: rotateY(-180deg);
}

.tarjeta:hover .cara-trasera {
	transform: rotateY(0deg);
}

.paguina .sobre_mi_container .sobre_mi_info .tarjeta img {
	width: 100%;
	height: 100%;
	border-radius: 40px;
}

.paguina .sobre_mi_container .sobre_mi_info .tarjeta h2 {
	padding: 5px;
	font-size: 27px;
}

.paguina .sobre_mi_container .sobre_mi_info .tarjeta p {
	margin: 0;
	padding: 15px;
	font-size: 22px;
	box-sizing: border-box;

}

/*Habilidades Técnicas*/
.paguina .habilidades_container {
	color: var(--color-pagina-text);
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	transition: bac;

}

.paguina .habilidades_container,
.paguina .habilidades_container .carrusel {
	/* position: relative; */
	height: 100vh;
}

/* ---- carrucel*/

.paguina .habilidades_container .carrusel {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	padding: 0 5px;
	margin: 0 40px;
	margin-top: 60px;
	height: 60vh;
	color: var(--color-pagina-text);

}

.paguina .habilidades_container .habilidades_txt {
	height: 15vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	z-index: 2;

}

.paguina .habilidades_container .habilidades_txt h1 {
	font-size: 40px;
	color: #00646C;
}

.paguina .habilidades_container .habilidades_txt p {
	font-size: 20px;
	text-align: left;
	padding: 0px 20px;
}

.paguina .habilidades_container .carrusel .swiper {
	width: 100%;
	height: 100%;

}

.paguina .habilidades_container .carrusel .swiper-slide,
.paguina .habilidades_container .carrusel .swiper-slide .swiper-slide-txt{
	text-align: center;
	font-size: 18px;
	/* background: #fff; */
	/* background-color: var(--color-body); */
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;

}


.paguina .habilidades_container .carrusel .swiper-slide img {
	display: block;
	width: 80%;
	height: 80%;

}

.paguina .habilidades_container .carrusel .autoplay-progress {
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 10;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: var(--color-carrusel-cargando);
}

.paguina .habilidades_container .carrusel .autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 4px;
	stroke: var(--color-carrusel-cargando);
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
}

/*modificando tarjetas*/
.paguina .habilidades_container .carrusel .swiper-slide_tarjeta {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: transform 0.8s;
}


.paguina .habilidades_container .carrusel .swiper .swiper-wrapper .swiper-slide .swiper-slide-txt {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 5px;

}

.paguina .habilidades_container .carrusel .swiper .swiper-wrapper .swiper-slide .swiper-slide-txt  h2 {
	font-size: 35px;
	color: var(--colo-texto);
	color: #00646C;
	border-radius: 2px solid ;
}

.paguina .habilidades_container .carrusel .swiper .swiper-wrapper .swiper-slide .swiper-slide-txt  p {
	font-size: 21px;
}

.paguina .habilidades_container .carrusel .swiper-slide_tarjeta .contenido {
	width: 100%;
	height: 100%;
	position: absolute;
	background: var(--color-body-gradiente);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: translateX(0) translateY(0);
	transition: transform 1s;

}


.paguina .habilidades_container .carrusel .swiper-slide_tarjeta:hover .contenido {
	transform: translateX(100%) translateY(100%);
	border-top-left-radius: 80px;
	border-bottom-right-radius: 80px;
}

/* estilos  de proyectos  ----- */

.paguina .proyectos_container {
	/* border: 2px solid blue; */
	width: 100%;
	height: 100vh;
	overflow: hidden;
	color: var(--color-pagina-text);

}

.paguina .proyectos_container h1 {
	font-size: 35px;
	text-align: center;
	padding-bottom: 40px;
	color: #00646C;

}

.paguina .proyectos_container .proyectos_div {
	width: 100%;
	height: 80vh;
	/* border: 2px solid red; */
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	/* padding-bottom: 2rem; */

}

.paguina .proyectos_container .proyectos_div .proyecto_div {
	/* border: 2px solid #1c5890; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.paguina .proyectos_container .proyectos_div{
	overflow-y: auto;
	overflow-x: hidden;
	gap: 2rem;
}

.paguina .proyectos_container .proyectos_div::-webkit-scrollbar {
	width: 10px;
	background-color: var(--color-webkit-scrollbar);
}

.paguina .proyectos_container .proyectos_div::-webkit-scrollbar-thumb {
	background-color: var(--color-scrollbar-thumb);
	border-radius: 5px;
}

.paguina .proyectos_container .proyectos_div::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-scrollbar-thumb-hover);
}

.paguina .proyectos_container .proyectos_div .proyecto_div {
	flex-direction: column;
	gap: 1rem;
	width: 300px;
	text-align: center;

}

.paguina .proyectos_container .proyectos_div .proyecto_div .proyecto_img img {
	display: block;
	margin: 0 auto;
	max-width: 250px;
	width: 100%;
	box-shadow: 10px 12px 6px #4f4f4f;
	border-radius: 15px;
	height: 200px;
	transition: transform box-shadow 0.3s ease;

}

.paguina .proyectos_container .proyectos_div .proyecto_div .proyecto_img img:active {
	box-shadow: none;
	transform: translateX(2%) translateY(2%);
}


.paguina .proyectos_container .proyectos_div .proyecto_div span {
	font-size: 25px;
	font-weight: 600;
	cursor: default;

}

/*certificaciones  */

.paguina .certificaciones_container {
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: var(--color-pagina-text);
	overflow: hidden;
}

.paguina .certificaciones_container h1 {
	font-size: 40px;
	padding-top: 2rem;
	color: #00646C;
}

.paguina .certificaciones_container p {
	font-size: 22px;
}

.paguina .certificaciones_container .mostrar_certificaciones {
	height: 80vh;
}

.paguina .certificaciones_container .mostrar_certificaciones .swiper {
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0px 50px;
	overflow: hidden;
}

.paguina .certificaciones_container .mostrar_certificaciones .mySwiper_Galeria {
	padding-right: 30px;
	padding-left: 30px;
}

.paguina .certificaciones_container .mostrar_certificaciones .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 400px;
	min-height: 100px;
	min-width: 50px;
	min-width: 100px;
	min-height: 200px;
}

.paguina .certificaciones_container .mostrar_certificaciones .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;

}

/*contacto */
.contacto_container {
	max-width: 800px;
	margin: 0 auto;
	height: 80vh;
	color: var(--color-pagina-text);
}

.contacto_container .formulario {
	/* background-color: #f4f4f4ce; */
	padding: 20px;
	border-radius: 8px;
}

.contacto_container .formulario h1 {
	text-align: center;
	font-size: 30px;
}

.contacto_container .formulario label {
	display: block;
	margin-bottom: 8px;
	font-size: 22px;
}

.contacto_container .formulario input,
.contacto_container .formulario textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-bottom: 7px solid #b1b6b9;
	border-radius: 5px;
	font-size: 20px;
	transition: border-bottom 0.5s ease;

}

.contacto_container .formulario textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-bottom: 7px solid #b1b6b9;
	box-sizing: border-box;
	height: 150px;
	resize: none;
	overflow-y: auto;
	transition: border-bottom 0.5s ease;
}

.contacto_container .formulario input:hover,
.contacto_container .formulario textarea:hover {

	border-bottom: 7px solid #000;
	/* background-color: #1c5890; */
}

.contacto_container .formulario button {
	background-color: #5a5a5a;
	color: rgb(198, 196, 196);
	padding: 12px 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-left: 10px;
	box-shadow: 5px 5px 5px #0f0f0f;
	transition: transform box-shadow 3s ease;
}

.contacto_container .formulario button:active {
	box-shadow: none;
	transform: translateX(3%) translateY(3%);
	background-color: #081925;
}

/*alertas*/

.contacto_container .confimacion_contacto #camposVacios,
.contacto_container .confimacion_contacto #confirmacion {
	height: 5vh;
	border-radius: 5px;
	text-align: center;
	padding-top: 6px;
}

.contacto_container .confimacion_contacto #camposVacios {
	background-color: #ff583392;

}

.contacto_container .confimacion_contacto #confirmacion {
	background-color: #33ff3a92;
}

/*footer*/
.footer {

	height: 6vh;
	display: flex;
	align-items: center;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	/* justify-content: center; */
}

.footer .footer__contact {
	padding-left: 10px;
}

.footer .footer__contact a {
	text-decoration: none;
}

.footer .footer__contact ion-icon {
	font-size: 29px;
	color: #1c5890;
	/* margin:10px; */
}

.footer .footer__contact ion-icon:hover {
	font-size: 27px;
	color: #1c5890;
	/* margin:10px; */
}



@media (max-width: 900px) {

	/*inicio ---- */
	.paguina .contenedor_inicio {
		/* border: 2px solid blue; */
		flex-direction: column-reverse;
		height: 100vh;
		min-width: 50px;
		padding-bottom: 2rem;
		align-items: center;
		justify-content: center;
	}

	.paguina .contenedor_inicio .inicioCont_Text {
		text-align: center;
		gap: 1rem;
	}

	.paguina .contenedor_inicio .inicioCont_Text .h1_txt {
		font-size: 50px;
	}

	.paguina .contenedor_inicio .inicioCont_Text .p_text {
		margin-left: 50px;
		font-size: 19px;
		text-align: left;
	}

	.paguina .contenedor_inicio .imgen {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
	}

	.paguina .contenedor_inicio .imgen img {
		display: flex;
		width: 800px;
		min-width: 300px;

	}


	/*sobre mi ---*/
	.paguina .sobre_mi_container {
		/* border: 2px solid blue; */
		height: 100vh;
		min-width: 50px;
		overflow: hidden;
	}

	.paguina .sobre_mi_container .sobre_mi_titulo {
		padding-bottom: 1px;
		text-align: center;
		font-size: 30px;
		color: #00646C;

	}

	.paguina .sobre_mi_container .sobre_mi_parrafo {
		margin-bottom: 3px;
		font-size: 18px;
	}

	.paguina .sobre_mi_container .sobre_mi_info {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 70vh;

	}

	.paguina .sobre_mi_container .sobre_mi_info .tarjeta {
		margin: 6px;
		width: 200px;
		height: 270px;
		perspective: 1000px;
		cursor: pointer;
	}
	.paguina .sobre_mi_container .sobre_mi_info .tarjeta h2 {
		padding: 2px;
		font-size: 20px;
	}

	.paguina .sobre_mi_container .sobre_mi_info .tarjeta p {
		padding: 10px;
		font-size: 15px;

	}
	.paguina .sobre_mi_container .sobre_mi_info {
		overflow-y: auto;
		overflow-x: hidden;
	}

	.paguina .sobre_mi_container .sobre_mi_info::-webkit-scrollbar {
		width: 10px;
		background-color: var(--color-webkit-scrollbar);
	}
	
	.paguina .sobre_mi_container .sobre_mi_info::-webkit-scrollbar-thumb {
		background-color: var(--color-scrollbar-thumb);
		border-radius: 5px;
	}

	.paguina .sobre_mi_container .sobre_mi_info::-webkit-scrollbar-thumb:hover {
		background-color: var(--color-scrollbar-thumb-hover);
	}

	.paguina .habilidades_container {
		gap: 2rem;
	}
	.paguina .habilidades_container .carrusel .swiper-slide {
		width: 80%;
	}
	.paguina .habilidades_container .carrusel .swiper .swiper-wrapper .swiper-slide .swiper-slide-txt {
		width: 80%;
		gap: 1rem;
	
	}
	.paguina .habilidades_container .carrusel .swiper-slide_tarjeta .contenido{
		display: flex;
		align-items: center;
		justify-content: center;
	}


}




@media (max-width: 750px) {

	/*barra lateral*/
	.paguina .habilidades_container .habilidades_txt {
		margin-bottom: 8rem;
	}

	.paguina .habilidades_container .carrusel {
		height: 50vh;
		margin: 0;
	}
	.paguina .certificaciones_container .mostrar_certificaciones .mySwiper_Galeria {
		padding-right: 0px;
		padding-left: 0px;
	}
	.paguina .certificaciones_container .mostrar_certificaciones .swiper {
		padding-top: 0px;
		padding-bottom: 0px;
		margin: 0px 0px;
		overflow: hidden;
	}


}

@media (max-width: 350px) {
	/*sobre mi ---*/
	/* .paguina .contenedor_inicio .inicioCont_Text {

	} */
	.paguina .contenedor_inicio .inicioCont_Text .h1_txt {
		font-size: 40px;
	}
	.paguina .contenedor_inicio .inicioCont_Text .p_text {
		margin-left: 20px;
		font-size: 15px;
		text-align: left;
	}
	/* sobre mi ---  */
	.paguina .sobre_mi_container .sobre_mi_info {
		height: 70vh;
	}
	.paguina .sobre_mi_container .sobre_mi_parrafo {
		margin-bottom: 3px;
		font-size: 15px;
	}
	/*habilidades ----*/
	.paguina .habilidades_container .habilidades_txt {
		height: 20vh;
		gap: 0.1rem;
	}
	.paguina .habilidades_container .habilidades_txt {
		margin-bottom: 4rem;
		gap: 2rem;
	}
	.paguina .habilidades_container .habilidades_txt h1{
		font-size: 30px;
	}
	.paguina .habilidades_container .habilidades_txt p {
		font-size: 16px;
	}
	.paguina .habilidades_container .carrusel .swiper-slide_tarjeta .contenido {
		width: 90%;
	}
	.paguina .habilidades_container .carrusel .swiper-slide {
		width: 80%;
		/* height: 80%; */
	}
	.paguina .habilidades_container .carrusel .swiper-slide_tarjeta .swiper-slide {
		gap: .5rem;
	}
	.paguina .habilidades_container .carrusel .swiper-slide_tarjeta .swiper-slide h2 {
		font-size: 20px;
	}
	.paguina .habilidades_container .carrusel .swiper-slide_tarjeta .swiper-slide p {
		font-size: 15px;
	}
	.paguina .habilidades_container .carrusel .swiper .swiper-wrapper .swiper-slide .swiper-slide-txt p {
		text-align: justify;
	}
	.paguina .habilidades_container .carrusel .swiper .swiper-wrapper .swiper-slide .swiper-slide-txt {
		width: 80%;
		gap: 1rem;
	
	}
	.paguina .habilidades_container .carrusel .swiper .swiper-wrapper .swiper-slide .swiper-slide-txt  h2 {
		font-size: 25px;
	}	
	.paguina .habilidades_container .carrusel .swiper .swiper-wrapper .swiper-slide .swiper-slide-txt  p {
		font-size: 15px;
	}
	.paguina .habilidades_container {
		gap: 1rem;
	}
	/*proyectos ---*/
	.paguina .proyectos_container h1 {
		font-size: 30px;
	}
	.paguina .proyectos_container .proyectos_div {
		gap: 1rem;
	}
	.paguina .proyectos_container .proyectos_div {
		width: 100%;
		height: 80vh;
	}
	.paguina .proyectos_container .proyectos_div .proyecto_div .proyecto_img img {
		max-width: 200px;
		height: 150px;
		width: 100%;
	}
	.paguina .proyectos_container .proyectos_div .proyecto_div span {
		font-size: 20px;
		font-weight: 600;
		cursor: default;
	}
	/* certificaciones ... */
	.paguina .certificaciones_container h1 {
		font-size: 30px;
		padding-top: 5px;
	}
	.paguina .certificaciones_container p {
		font-size: 16px;
	}

	.paguina .certificaciones_container .mostrar_certificaciones .mySwiper_Galeria {
		padding-right: 0px;
		padding-left: 0px;
	} 
	.paguina .certificaciones_container .mostrar_certificaciones .swiper {
		padding-top: 40px;
		padding-bottom: 50px;
		margin: 0px 20px;
		overflow: hidden;
	}
	.paguina .certificaciones_container .mostrar_certificaciones .swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.paguina .certificaciones_container .mostrar_certificaciones .swiper-slide img {
		/* display: block; */
		width: 80%;
		min-width: 10%;
		/* height: 100%; */
	}
	.contacto_container {
		height: 95vh;
		
	}




}
	
